@model DashboardViewModel;
@{
    ViewData["Title"] = "Dashboard";
}


<link rel="stylesheet" href="~/css/dashboard.css"/>
<script src="js/pages/Dashboard/Index.js"></script>
<div class="container-media-horario">
    <h5>Média do horário de entrada semestral</h5>
    <div class="horarios">
        <div class="horario">
            <label>Horário</label>
            <h5>@Model.MediaHorarioEntrada?.ToString("HH:mm")</h5>
        </div>
    </div>
</div>
<div class="container-chart">
    <div class="container-chart-frequencia">
        <h5>Presença/dia dos Alunos</h5>
        <canvas id="chartFrequencia"></canvas>
    </div>

    <div class="container-chart-disciplina">
        <h5>Frequência por disciplina no Semestre</h5>
        <canvas id="chartDisciplina"></canvas>
    </div>
</div>

@Html.Hidden("CarregarDashboard", Url.Action("CarregarDashboard", "Dashboard"))

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        carregarDash();

    });
    function carregarDash() {
                let urlcarregarDashBoard = $('#CarregarDashboard').val();
                return $.ajax({
                    url: urlcarregarDashBoard,
                    
                    contentType: "application/json; charset=utf-8",
                    type: "GET",
                    success: (response) => {
                        const res = JSON.parse(JSON.stringify(response));
                        
                        console.log(res)
                        
                        let dadosDisciplina = {
                            yValues: res.frequenciaPorDisciplina.disciplinas,
                            data: res.frequenciaPorDisciplina.porcentagens
                        }
                        let dadosFrequencia = {
                            xValues: res.presencaPorDiaNoMes.diasDoMes,
                            data: res.presencaPorDiaNoMes.totalPorDia
                        }
                        console.log(dadosFrequencia)
                        console.log(dadosDisciplina)
                       
                        popularChartFrequencia(dadosFrequencia)    
                        popularChartDisciplina(dadosDisciplina)    
                        
                    }
                });
            }

    function popularChartFrequencia(dados){
      new Chart("chartFrequencia", {
        type: "line",
        data: {
          labels: dados.xValues,
          datasets: [{
            label: "Presença",
            fill: false,
            lineTension: 0,
            backgroundColor: "#9747FF",
            borderColor: "rgba(151, 71, 255, 0.83)",
            data: dados.data
          }]
        },
        options: {
          legend: {display: false},
           responsive: true,
          scales: {
            yAxes: [{ticks: {min: 0, max:100}}],
          }
        }
      });
    }
    
    function popularChartDisciplina(dados){
        new Chart("chartDisciplina", {
          type: "bar",
          data: {
            labels: dados.yValues,
            datasets: [{
              label: "Frequência (%)",
              backgroundColor: "#EA4AAA",
              data: dados.data,
              borderWidth: 2,
              borderRadius: Number.MAX_VALUE,
              borderSkipped: false,
            }]
          },
          options: {
            indexAxis: 'y',
            responsive: true,
          }
        });
    }
  
</script>

