@{
    ViewData["Title"] = "Associar Cracha";
}
<link rel="stylesheet" href="~/css/cadastroCracha.css"/>
<script src="~/js/pages/Cracha/Index.js"></script>


<h3>Associe um crachá a um aluno</h3>
<p>Preencha os campos abaixo</p>

<div class="w-100 d-flex flex-column gap-2 my-2">
    <div class="w-50">
        <label class="form-label">RA do Aluno</label>
        <input type="text" class="form-control">
    </div>

    <div class="w-50">
        <label>Código</label>
        <input type="text" class="form-control">
    </div>
</div>

<a role="button" class="btn btn-primary">Cadastrar</a>