@model CrachaViewModel
@{
    ViewData["Title"] = "Editar Cracha";
}
<link rel="stylesheet" href="~/css/cadastroCracha.css" />
<script src="~/js/pages/Cracha/Index.js"></script>


<h3>Edite as informações do crachá</h3>
<p>Preencha os campos abaixo</p>

<form>
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="w-100 d-flex flex-column gap-2 my-2">
        <div class="w-50">
            <label class="form-label">RA do Aluno</label>
            <input type="text" class="form-control" name="Aluno.RA" value="@Model.Aluno.RA">
        </div>

        <div class="w-50">
            <label>Código do crachá</label>
            <input type="text" class="form-control" name="HexaDec" value="@Model.HexaDec">
        </div>
    </div>

    <button type="submit" class="btn btn-secondary" asp-controller="Cracha" asp-action="Salvar">Salvar</button>
    <a role="button" class="btn btn-primary" asp-controller="Cracha" asp-action="Index">Voltar</a>
</form>