p,h1,h2,h3,h4,h5 {
    margin: 0;
}

body {
    width: auto;
    height: auto;
}
.login {
    min-width: 100vw;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
}
.info-aplicacao {
    max-width: 40%;
    width: 40%;
    height: 100vh;
    text-align: center;
    background: #222831;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.info-aplicacao .ilustracao {
    width: 100%;
    margin: 50px 0;
}

.info-aplicacao .logo {
    width: 150px;
}

.info-aplicacao > p {
    font-size: 16px;
    margin: 15px 0;
    font-weight: 500;
    width: 350px;
}

.container-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-form {
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    gap: 27px;
    width: 354px;
    border: 1px solid #D1D5DA;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.ti-subti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}

.login-campos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    width: 100%;
}
.login-ra {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
}
.campo-ra {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    width: 100%;
   
    background: #F6F8FA;

    border: 1px solid #E1E4E8;
    border-radius: 3px;

}

.login-senha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
}

.campo-senha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    background: #F6F8FA;
    width: 100%;
    border: 1px solid #E1E4E8;
    border-radius: 3px;

}

.btn-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    color: white;
    text-decoration: none;
    background: #00ADB5;
    border: 1.5px solid #00898F;
    border-radius: 3px;
    width: 100%;
    align-self: stretch;
}