@{
    ViewData["Title"] = "Associar Disciplina";
}
<link rel="stylesheet" href="~/css/cadastroDisciplinas.css" />
<link rel="stylesheet" href="~/Images/" />

<div class="disciplina-bg">
    cadastrar disciplina
</div>

<div class="titulo-subDisciplina">
    <h3>Associe uma disciplina a um curso</h3>
    <p>Preencha os campos abaixo</p>
</div>

<div class="disciplina-info">
    <div class="disciplina-curso">
        <label>Curso</label>
        <div class="disciplinaSelect-curso">
            Selecione o curso
            <img src="~/Images/chevron-down.svg" />
        </div>       
    </div>
    <div class="disciplina-select">
        <label>Disciplina</label>
        <div class="disciplinaSelect-disciplina">
            Selecione a disciplina
            <img src="~/Images/chevron-down.svg" />
        </div>
    </div>
</div>

<a role="button" class="btn-cadastrarDisciplina">Cadastrar</a>
