@{
    ViewData["Title"] = "Alunos";
}
<link rel="stylesheet" href="~/css/alunos.css" />
<script src="js/pages/Alunos/Index.js"></script>



<div class="aluno-novo">
    <h3>Alunos</h3>
    <a role="button" class="btn-novoAluno">+ Adicionar novo Aluno</a>
</div>

<div class="filtros-aluno">
    <div class="filtros-opcoes">
        <div class="curso-ext">
            <div class="curso-int">
                <h5>Curso</h5>
                <div class="curso-select">
                    <label>Selecione o Curso</label>
                    <img src="~/Images/chevron-down.svg" />
                </div>
            </div>
        </div>
        <div class="turma-filtro">
            <h5>Turma</h5>
            <div class="turma-select">
                <label>Selecione a Turma</label>
                <img src="~/Images/chevron-down.svg" />
            </div>
        </div>
    </div>
    <a role="button" class="filtro-botao">Buscar</a>
</div>

<div class="listagem">
    <div class="elemento">
        <div class="aluno">
            <div class="foto-aluno">
                <img src="~/Images/fotomodelo.svg" />
            </div>
            <div class="nome-ra">
                <div class="nome-aluno">
                    Nome Exemplo
                </div>
                <div class="RA-aluno">
                    0822000XX
                </div>
            </div>
            <div class="icones-acao">
                <div class="editar-icon">
                    <img src="~/Images/editaricon.svg" />
                </div>
                <div class="deletar-icon">
                    <img src="~/Images/deletaricon.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="elemento">
        <div class="aluno">
            <div class="foto-aluno">
                <img src="~/Images/fotomodelo.svg" />
            </div>
            <div class="nome-ra">
                <div class="nome-aluno">
                    Nome Exemplo
                </div>
                <div class="RA-aluno">
                    0822000XX
                </div>
            </div>
            <div class="icones-acao">
                <div class="editar-icon">
                    <img src="~/Images/editaricon.svg" />
                </div>
                <div class="deletar-icon">
                    <img src="~/Images/deletaricon.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="elemento">
        <div class="aluno">
            <div class="foto-aluno">
                <img src="~/Images/fotomodelo.svg" />
            </div>
            <div class="nome-ra">
                <div class="nome-aluno">
                    Nome Exemplo
                </div>
                <div class="RA-aluno">
                    0822000XX
                </div>
            </div>
            <div class="icones-acao">
                <div class="editar-icon">
                    <img src="~/Images/editaricon.svg" />
                </div>
                <div class="deletar-icon">
                    <img src="~/Images/deletaricon.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="elemento">
        <div class="aluno">
            <div class="foto-aluno">
                <img src="~/Images/fotomodelo.svg" />
            </div>
            <div class="nome-ra">
                <div class="nome-aluno">
                    Nome Exemplo
                </div>
                <div class="RA-aluno">
                    0822000XX
                </div>
            </div>
            <div class="icones-acao">
                <div class="editar-icon">
                    <img src="~/Images/editaricon.svg" />
                </div>
                <div class="deletar-icon">
                    <img src="~/Images/deletaricon.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="elemento">
        <div class="aluno">
            <div class="foto-aluno">
                <img src="~/Images/fotomodelo.svg" />
            </div>
            <div class="nome-ra">
                <div class="nome-aluno">
                    Nome Exemplo
                </div>
                <div class="RA-aluno">
                    0822000XX
                </div>
            </div>
            <div class="icones-acao">
                <div class="editar-icon">
                    <img src="~/Images/editaricon.svg" />
                </div>
                <div class="deletar-icon">
                    <img src="~/Images/deletaricon.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="elemento">
        <div class="aluno">
            <div class="foto-aluno">
                <img src="~/Images/fotomodelo.svg" />
            </div>
            <div class="nome-ra">
                <div class="nome-aluno">
                    Nome Exemplo
                </div>
                <div class="RA-aluno">
                    0822000XX
                </div>
            </div>
            <div class="icones-acao">
                <div class="editar-icon">
                    <img src="~/Images/editaricon.svg" />
                </div>
                <div class="deletar-icon">
                    <img src="~/Images/deletaricon.svg" />
                </div>
            </div>
        </div>
    </div>
</div>
