@{
    ViewData["Title"] = "Professores";
}
<link rel="stylesheet" href="~/css/professores.css" />
<script src="js/pages/Professores/Index.js"></script>

<div class="professor-novo">
    <h3>Professores</h3>
    <a role="button" class="btn btn-success" asp-controller="Professor" asp-action="Cadastro">+ Adicionar novo Professor</a>
</div>

<div class="listagem">
    <div class="card-professor">
        <div class="detalhes-container">
            <div class="professor-detalhe">
                <p>
                    Nome Exemplo
                </p>
                <span>
                    0822000XX
                </span>
            </div>
        </div>
        <div class="icones-acao">
            <a role="button" class="btn-icon" asp-controller="Professor" asp-action="Editar">
                <i class='bx bx-edit-alt'></i>
            </a>
            <button class="btn-icon">
                <i class='bx bx-trash'></i>
            </button>
        </div>
    </div>
</div>