@{
    ViewData["Title"] = "Sobre";
}
<link rel="stylesheet" href="~/css/sobre.css" />
<script src="js/pages/Sobre/Index.js"></script>

<h3>Sobre</h3>
<p>
      Em um mundo onde a otimização do tempo tornou-se uma prioridade, é de suma importância que o dinâmismo e praticidade sejam características presentes em todas as atividades que realizamos no dia-a-dia, como obter informações na palma de nossas mãos através do smartphone, locomoção rápida com aplicativos de transporte, pagar contas com apps de bancos digitais, etc. Da mesma maneira, essa agilidade deve estar presente nos centros de ensino para que o tempo dos professores e alunos seja melhor aproveitado para as atividades universitárias. Dessa forma, nasceu a Atreos, uma interface simples porém completa para todo tipo de necessidade quando se fala em controle de presença.
      <br />Utilizando microcontroladores MCU e tecnologia RFiD, o sistema consegue receber sinais dos cartões ao detectar sua aproximação e enviar o código deles para o Helix, no banco de dados NoSQL (MongoDB), que irá armazenar essa informação em uma tabela de históricos, devendo ser ativada no Broker. Após isso, a Atreos irá consultar essa tabela e armazenará as informações nela presentes em um banco de dados relacional - SQL. Tendo esses dados armazenados, o sistema é capaz de verificar se o código do cartão hexadecimal aproximado está relacionado ao cadastro de algum aluno, marcando, assim, a presença do mesmo.
</p>
<br />
<div class="imagens">
    <img src="~/Images/rfid 1.svg" />
</div>

