@model AlunoViewModel
@{
    ViewData["Title"] = "Cadastrar Novo Aluno";
}
<link rel="stylesheet" href="~/css/cadastroAlunos.css" />


<h3>Insira um novo aluno</h3>
<p>Preencha os campos abaixo</p>
<form method="post" action="Cadastrar" enctype="multipart/form-data">
    <div class="w-100 d-flex flex-column gap-2 my-2">
        <div class="aluno-foto">
            <p>Foto do Aluno</p>
            <img id="imgPreview" class="img-responsive" width="100" style=" border-radius: 100px; "/>
            <input type="file" name="Imagem" id="Imagem" onchange="exibirImagem()" class="btn btn-secondary">
        </div>
        
        
        <div class="w-50">
            <label>Nome Completo</label>
            <input type="text" class="form-control" name="Nome" value="@Model.Nome">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="w-50">
            <label>RA</label>
            <input type="text" class="form-control" name="RA" value="@Model.RA">
            <span asp-validation-for="RA" class="text-danger"></span>
        </div>

    </div>
    <input type="submit" class="btn btn-secondary" value="Cadastrar">
    <!--<a role="button" class="btn btn-secondary" asp-controller="Aluno" asp-action="Cadastrar">Cadastrar</a>-->
    <a role="button" class="btn btn-primary" asp-controller="Aluno" asp-action="Index">Voltar</a>

</form>

<script>
 function exibirImagem() {
     var oFReader = new FileReader();
     oFReader.readAsDataURL(document.getElementById("Imagem").files[0]);
     oFReader.onload = function (oFREvent) {
        document.getElementById("imgPreview").src = oFREvent.target.result;
     };
 }
</script>