@model AlunoViewModel
@{
    ViewData["Title"] = "Cadastrar Novo Aluno";
}
<link rel="stylesheet" href="~/css/cadastroAlunos.css" />

<h3>Edite os dados do aluno</h3>
<p>Preencha os campos abaixo</p>

<form method="post" action="Salvar">
    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="w-100 d-flex flex-column gap-2 my-2">
        <div class="aluno-foto">
            <p>Foto do Aluno</p>
            <img src="~/Images/foto-holder.svg" />
        </div>

        <div class="w-50">
            <label>Nome Completo</label>
            <input type="text" class="form-control" name="Nome" value="@Model.Nome">
        </div>
        <div class="w-50">
            <label>RA</label>
            <input type="text" class="form-control" name="RA" value="@Model.RA">
        </div>
    </div>

    <input type="submit" class="btn btn-secondary" value="Salvar">
    <a role="button" class="btn btn-primary" asp-controller="Aluno" asp-action="Index">Voltar</a>

</form>