@{
    ViewData["Title"] = "Alunos";
}
<link rel="stylesheet" href="~/css/alunos.css"/>
<script src="js/pages/Alunos/Index.js"></script>

<div class="aluno-novo">
    <h3>Alunos</h3>
    <a role="button" class="btn btn-success" asp-controller="Aluno" asp-action="Cadastro">+ Adicionar novo Aluno</a>
</div>

<div class="filtros-aluno">
    <div class="w-50">
        <label class="form-label">Curso</label>
        <select class="form-select">
            <option selected>Selecione um Curso</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="w-50">
        <label class="form-label">Turma</label>
        <select class="form-select">
            <option selected>Selecione a Turma</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <a role="button" class="btn btn-primary">Buscar</a>
</div>

<div class="listagem">

    <div class="card-aluno">
        <div class="detalhes-container">
            <div class="foto-aluno">
                <img src="~/Images/fotomodelo.svg"/>
            </div>
            <div class="aluno-detalhe">
                <p>
                    Nome Exemplo
                </p>
                <span>
                    0822000XX
                </span>
            </div>
        </div>
        <div class="icones-acao">
            <a role="button" class="btn-icon"asp-controller="Aluno"asp-action="Editar">
                <i class='bx bx-edit-alt'></i>
            </a>
            <button class="btn-icon">
                <i class='bx bx-trash'></i>
            </button>
        </div>
    </div>
    <div class="card-aluno">
        <div class="detalhes-container">
            <div class="foto-aluno">
                <img src="~/Images/fotomodelo.svg"/>
            </div>
            <div class="aluno-detalhe">
                <p>
                    Nome Exemplo
                </p>
                <span>
                    0822000XX
                </span>
            </div>
        </div>
        <div class="icones-acao">
            <button class="btn-icon">
                <i class='bx bx-edit-alt'></i>
            </button>
            <button class="btn-icon">
                <i class='bx bx-trash'></i>
            </button>
        </div>
    </div>
</div>