@model UsuarioModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Atreos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/reset-bootstrap.css" />

</head>



<body>
    @if (TempData["MessageError"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close"></button>
            @TempData["MessageError"]
        </div>
    }
    <form asp-controller="Login" asp-action="Entrar" method="post">
        <div class="login">
            <div class="info-aplicacao">
                <img src="~/Images/full-logo.svg" class="logo" alt="logo" />
                <img src="~/Images/ilustracao_login.svg" class="ilustracao" alt="ilustracao-login" />

                <p>Aplicação responsável por centralizar a presença dos alunos da instituição</p>
            </div>
            <div class="container-login">
                <div class="login-form">
                    <div class="ti-subti">
                        <h5>Entre com sua conta</h5>
                        <p>Preencha as informações abaixo</p>
                    </div>
                    <div class="login-campos">
                        <div class="login-ra">
                            <label>Nome</label>
                            <input type="text" asp-for="LoginUser" class="campo-ra" id="nome" />
                        </div>
                        <div class="login-senha">
                            <label>Senha</label>
                            <input type="password" asp-for="Senha" class="campo-senha" id="senha" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Acessar</button>
                </div>
            </div>
        </div>
    </form>
</body>
